<div class="video-container w-full h-0 pb-[40%] relative mb-4">
    <iframe
      class="absolute top-0 left-0 w-full h-full"
      src="https://www.youtube.com/embed/vXKcWRu8K_U"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
  
  <nav class=" text-[#0F443F] font-bold text-[24px] flex justify-end items-center p-6 px-10">
    <div class="flex space-x-4">
      <button class="hover:bg-[#569AA5] px-4 py-2 rounded">Inicio</button>
      <button class="hover:bg-[#569AA5]  px-4 py-2 rounded">Creditos</button>
      <button class="hover:bg-[#569AA5]  px-4 py-2 rounded">Informacion</button>
    </div>
  </nav>