<div class="video-container w-full h-0 pb-[40%] relative mb-4">
  <iframe
    class="absolute top-0 left-0 w-full h-full"
    src="https://www.youtube.com/embed/vXKcWRu8K_U"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>

<nav class=" text-[#0F443F] font-bold text-[24px] flex justify-end items-center p-6 px-10">
  <div class="flex space-x-4">
    <button class="hover:bg-[#569AA5] px-4 py-2 rounded">Inicio</button>
    <button class="hover:bg-[#569AA5]  px-4 py-2 rounded">Creditos</button>
    <button class="hover:bg-[#569AA5]  px-4 py-2 rounded">Informacion</button>
  </div>
</nav>

<div class="relative flex flex-col md:flex-row items-start md:items-center p-16 md:p-32 lg:p-52 rounded-lg ">

  <div class="absolute top-0 left-0 w-full flex justify-center">
    <h2 class="text-5xl md:text-[96px] font-bold text-center mt-4">Aftersun</h2>
  </div>

  <div class="flex-shrink-0 mb-4 md:mb-0">
    <img 
      src="Poster.jpg" 
      alt="Poster de la Película" 
      class="w-full md:w-72 h-auto rounded-lg shadow-md"
    />
  </div>

  <div class="flex-1 md:ml-8 flex flex-col justify-center items-start">
    <div class="pl-20 w-full flex justify-between items-start">
      <div>
        <p class="text-gray-700 mb-4 text-xl"> 
          <strong>Dirección:</strong> Charlotte Wells
        </p>
        <p class="text-gray-700 mb-4 text-xl"> 
          <strong>Guion:</strong> Charlotte Wells
        </p>
        <p class="text-gray-700 mb-4 text-xl"> 
          2022
        </p>
        <p class="text-gray-700 mb-4 text-xl"> 
          B15
        </p>
      </div>

      <div class="flex flex-col items-center">
        <button class="bg-[#569AA5] text-6xl hover:bg-[#A4CCD4] text-[#0F443F] font-bold w-[150px] h-[150px] rounded-lg">
          7.6
        </button>
        <p class="text-lg mt-2"> 
          101 Mil
        </p>
      </div>
    </div>

    <div class="w-full flex justify-center px-14 pt-10">
      <p class="bg-[#A4CCD4] text-gray-700 mb-8 p-6 rounded-lg max-w-3xl text-center text-xl italic">
        So that even if we aren’t in the same place, we kind of are you know? We’re, like, under the same sky.
      </p>
    </div>
  </div>

</div>

<div class="relative flex flex-col p-8 md:p-10 rounded-lg shadow-lg bg-[#F6E9E9] mx-auto max-w-4xl">
  <div class="flex justify-between space-x-4 ">
    <button class="bg-transparent text-black font-bold py-2 px-6 border-2 border-[#569AA5] rounded-full hover:bg-[#569AA5] hover:text-white transition">
      Drama
    </button>
    <button class="bg-transparent text-black font-bold py-2 px-6 border-2 border-[#569AA5] rounded-full hover:bg-[#569AA5] hover:text-white transition">
      Coming-of-Age
    </button>
    <button class="bg-transparent text-black font-bold py-2 px-6 border-2 border-[#569AA5] rounded-full hover:bg-[#569AA5] hover:text-white transition">
      Teen Drama
    </button>
  </div>

  <div class="w-full text-center max-w-3xl p-16">
    <p class="text-black text-lg md:text-xl lg:text-2xl leading-relaxed text-wrap font-sans">
      <strong>Aftersun</strong> es una película dirigida por Charlotte Wells que sigue la historia de Sophie, una niña de 11 años, y su padre Calum durante unas vacaciones en un resort en Turquía. A través de recuerdos y grabaciones de video, la película explora la relación entre padre e hija, así como las emociones subyacentes y conflictos internos de Calum. La narrativa se entrelaza con la perspectiva adulta de Sophie, quien intenta reconciliar su comprensión de esos momentos con la complejidad emocional de su padre.
    </p>
  </div>
</div>




<div class="bg-white p-16 rounded-lg mt-6 mx-auto max-w-4xl">
  <h3 class="text-2xl font-bold text-center mb-6">STREAMING</h3>
  
  <div class="flex justify-between space-x-12">
    <a href="https://www.netflix.com/title/81616082" class="flex flex-col items-center">
      <img 
        src="Netflix_icon.svg.png" 
        alt="Netflix" 
        class="h-16 w-auto"
      />
      <span class="mt-2 text-gray-700 text-lg">Netflix</span>
    </a>

    <a href="https://mubi.com/es/mx/films/aftersun" class="flex flex-col items-center">
      <img 
        src="MUBI.png" 
        alt="Mubi" 
        class="h-16 w-auto"
      />
      <span class="mt-2 text-gray-700 text-lg">Mubi</span>
    </a>

    <a href="https://www.primevideo.com/-/es/detail/Aftersun/0JIDIGPGFJ5QQU9QH2V1TWK51U" class="flex flex-col items-center">
      <img 
        src="amazon-prime.jpg" 
        alt="Amazon Video" 
        class="h-16 w-auto"
      />
      <span class="mt-2 text-gray-700 text-lg">Prime Video</span>
    </a>
  </div>
</div>



<footer class="bg-[#0E403F] p-8 text-sm text-white flex justify-between items-center">
  <span>&copy; 2024 Todos los derechos reservados.</span>
  
  <div class="flex space-x-4">
    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</footer>
