
<footer class="bg-[#0E403F] p-8 text-sm text-white flex justify-between items-center">
    <span>&copy; 2024 Todos los derechos reservados.</span>
    
    <div class="flex space-x-4">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </footer>
  